<% content_for :title do%>
  Editing Meal..
<% end %>
<div class="columns is-centered mt-5">
  <div class="column is-one-quarter">
    <%= render "form", entry: @entry %>
    <%= link_to "Retain meal info", @entry, class:"button is-warning mb-2" %>
    <br>
    <%= link_to "Back to meals", entries_path, class:"button is-info mb-2" %>
  </div>
</div>
