<% content_for :title do %>
  New Meal!
<%end%>
<div class="columns is-centered mt-5">
  <div class="column is-one-quarter">
    <%= render "form", entry: @entry %>
    <%= link_to "Back to meals", entries_path, class:"button is-info" %>
  </div>
</div>
