<section class="hero has-background-info-dark is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="title has-text-light">Meal-logger</h1>
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <span class="navbar-item">
                <%= link_to"All meals", entries_path,  class:"button is-info" %>
              </span>
              <span class="navbar-item">
                <%= link_to"New meal", new_entry_path,  class:"button is-success" %>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title has-text-light">
          <% if content_for(:title) %>
            <%= yield :title %>
          <% else %>
            log
          <% end %>
        </p>
      </div>
    </div>
  </section>
